<div class="btn-toolbar">
  <%= link_to "New Node", new_node_path, :class => 'btn' %>
</div>

<table class="table table-bordered">
<% @nodes.each do |node| %>
  <tr>
    <td><%= link_to node.name, node %></td>
    <td><%= node.last_report %></td>
    <td><%= link_to "Edit", edit_node_path(node) %></td>
    <td><%= link_to "Delete", node, :method => :delete %></td>
  </tr>
<% end %>
</table>
