<div class="panel panel-default">
  <div class="panel-heading">Node Resources: <%= @node %></div>

  <div class="panel-body">
    <div class="btn-toolbar">
      <%= link_to "Back", @node, :class => 'btn btn-sm btn-default' %>
    </div>

    <h4>Exported Resources</h4>
    <table class="table table-bordered table-striped table-condensed">
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Parameters</th>
        <th>Tags</th>
      </tr>
    <% @node.resources.each do |resource| %>
      <% if resource["exported"] %>
      <tr>
        <td><%= resource["type"] %></td>
        <td><%= resource["title"] %></td>
        <td><%= resource["parameters"].collect {|k,v| "#{k}=#{v}"}.join("\n") %></td>
        <td><%= resource["tags"].join(", ") %></td>
      </tr>
      <% end %>
    <% end %>
    </table>
  </div>
</div>
