<div class="btn-toolbar">
  <%= link_to "Back", nodes_path, :class => 'btn' %>
  <%= link_to "Edit", edit_node_path(@node), :class => 'btn' %>
</div>

<h3><%= @node.name %></h3>

<div class="row">
  <div class="span12">
    <h4>Parameters</h4>
    <table class="table table-bordered table-condensed">
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Source</th>
      </tr>
    <% @node.parameters.each do |parameter| %>
      <tr>
        <td><%= parameter.key %></td>
        <td><%= parameter.value %></td>
        <td><%= @node.name %></td>
      </tr>
    <% end %>
    <% @node.node_groups.each do |group| %>
      <% group.parameters.each do |parameter| %>
        <tr>
          <td><%= parameter.key %></td>
          <td><%= parameter.value %></td>
          <td><%= group.name %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
  </div>
  <div class="span6">
    <h4>Groups</h4>
    <table class="table table-bordered table-condensed">
    <% @node.node_groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
      </tr>
    <% end %>
    </table>
  </div>
  <div class="span6">
    <h4>Classes</h4>
    <!-- TODO -->
  </div>
</div>

<h4>Recent Reports (<%= @node.reports.count %>)</h4>

<table class="table table-bordered table-condensed">
  <% @node.reports.limit(10).each do |report| %>
    <tr>
      <td><%= link_to report.time, report %></td>
      <td><%= report.environment %></td>
      <td><%= report.status %></td>
    </tr>
  <% end %>
</table>
