<%= form_for(@node_class) do |f| %>
  <% if @node_class.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@node_class.errors.count, "error") %> prohibited this class from being saved:</h4>

      <ul>
      <% @node_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <div class="row">
      <div class="col-lg-6">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <%= f.submit nil, :class => 'btn btn-sm btn-primary' %>
  <%= link_to "Cancel", @node_class, :class => 'btn btn-sm btn-default' %>
<% end %>
