<%= form_for(@node_class) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <div class="row">
      <div class="col-lg-6">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <%= f.submit nil, :class => 'btn btn-sm btn-primary' %>
  <%= link_to "Cancel", @node_class, :class => 'btn btn-sm btn-default' %>
<% end %>
