<div class="panel">
  <div class="panel-heading">Class: <%= @node_class %></div>

  <div class="btn-toolbar">
    <%= link_to "Back", node_classes_path, :class => 'btn btn-default' %>
  </div>

  <h4>Nodes</h4>
  <table class="table table-bordered table-condensed table-striped">
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Reported at</th>
    </tr>
  <% @node_class.nodes.each do |node| %>
    <tr>
      <td><%= link_to node, node %></td>
      <td><%= node_status_badge(node) %></td>
      <td><%= node_report_time(node.reported_at) %></td>
    </tr>
  <% end %>
  </table>
</div>
