<div class="panel">
  <div class="panel-heading">Class: <%= @node_class %></div>

  <div class="btn-toolbar">
    <%= link_to "Back", node_classes_path, :class => 'btn btn-sm btn-default' %>
    <%= link_to "Edit", edit_node_class_path(@node_class), :class => 'btn btn-sm btn-primary' %>
    <%= link_to "Delete", @node_class, :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-sm btn-danger pull-right' %>
  </div>

  <h4>Nodes</h4>
  <%= render 'nodes/list', :nodes => @nodes %>
</div>
