<%= form_for(@node_group) do |f| %>
  <% if @node_group.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@node_group.errors.count, "error") %> prohibited this group from being saved:</h4>

      <ul>
      <% @node_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <div class="row">
      <div class="col-lg-6">
        <%= f.text_field :name, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :parameters %>
    <%= f.fields_for :parameters do |parameter_form| %>
      <div class="row">
        <div class="col-lg-2">
          <%= parameter_form.text_field :key, :placeholder => "key", :class => 'form-control' %>
        </div>
        <div class="col-lg-8">
          <%= parameter_form.text_field :value, :placeholder => "value", :class => 'form-control' %>
        </div>
      </div>
      <br>
    <% end %>
  </div>

  <div class="panel-footer">
    <%= f.submit nil, :class => 'btn btn-sm btn-primary' %>
    <%= link_to "Cancel", @node_group, :class => 'btn btn-sm btn-default' %>
  </div>
<% end %>
