<div class="panel">
  <div class="panel-heading">Groups</div>

  <table class="table table-bordered table-condensed table-striped">
    <tr>
      <th><%= sortable "name" %></th>
      <th>Nodes</th>
      <th></th>
      <th></th>
    </tr>
  <% @node_groups.each do |node_group| %>
    <tr>
      <td><%= link_to node_group, node_group %></td>
      <th><span class="badge"><%= node_group.nodes.count %></span></th>
      <td><%= link_to "Edit", edit_node_group_path(node_group) %></td>
      <td><%= link_to "Delete", node_group, :method => :delete %></td>
    </tr>
  <% end %>
  </table>
</div>
