<div class="panel">
  <div class="panel-heading">Group: <%= @node_group.name %></div>

  <div class="btn-toolbar">
    <%= link_to "Back", node_groups_path, :class => 'btn btn-default' %>
    <%= link_to "Edit", edit_node_group_path(@node_group), :class => 'btn btn-primary' %>
  </div>

  <h3><%= @node_group.name %></h3>

  <h4>Parameters</h4>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th>Source</th>
    </tr>
  <% @node_group.parameters.each do |parameter| %>
    <tr>
      <td><%= parameter.key %></td>
      <td><%= parameter.value %></td>
      <td><%= @node_group.name %></td>
    </tr>
  <% end %>
  </table>

  <h4>Nodes</h4>
  <table class="table table-bordered table-condensed">
    <tr>
      <th>Name</th>
    </tr>
  <% @node_group.nodes.each do |node| %>
    <tr>
      <td><%= link_to node.name, node %></td>
    </tr>
  <% end %>
  </table>
</div>
