<div class="panel">
  <div class="panel-heading">Reports</div>
  <div class="panel-body">
    <%= column_chart report_history_reports_path %>

    <table class="table table-bordered table-condensed table-striped">
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to node_report_time(report.time), report %></td>
        <td><%= link_to report.node, report.node %></td>
        <td><%= report.environment %></td>
        <td><%= node_status_badge(report) %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
