<div class="panel">
  <div class="panel-heading">Reports</div>
    <table class="table table-bordered table-condensed table-striped">
    <% @reports.each do |report| %>
      <tr>
        <td><%= link_to report.time, report %></td>
        <td><%= report.node %></td>
        <td><%= report.status %></td>
        <td><%= report.environment %></td>
        <td><%= link_to "Parse", parse_report_path(report) %></td>
        <td><%= link_to "Delete", report, :method => :delete %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
