<div class="panel">
  <div class="panel-heading">Report: <%= @report.time %></div>

  <div class="btn-toolbar">
    <%= link_to "Back", node_path(@report.node), :class => 'btn btn-sm btn-default' %>
    <%= link_to "Delete", @report, :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-sm btn-danger pull-right' %>
  </div>

  <br>

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#metrics" data-toggle="tab">Metrics</a></li>
      <li><a href="#log" data-toggle="tab">Log</a></li>
      <li><a href="#events" data-toggle="tab">Events</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="metrics">
        <% @report.parsed.metrics.each do |name,metric| %>
          <table class="table table-bordered table-condensed table-striped">
            <tr>
              <th><%= metric.label %></th>
              <th></th>
            </tr>
            <% metric.values.each do |key,description,value| %>
              <tr>
                <td><%= description %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
      <div class="tab-pane" id="log">
        <table class="table table-bordered table-condensed table-striped">
          <tr>
            <th>Time</th>
            <th>Level</th>
            <th>Message</th>
          </tr>
          <% @report.parsed.logs.each do |log| %>
            <tr>
              <td><%= log.time %></td>
              <td><%= log.level %></td>
              <td><%= log.message %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="tab-pane" id="events">
        <table class="table table-bordered table-condensed table-striped">
          <tr>
            <th>Name</th>
            <th>Changed</th>
            <th>Skipped</th>
            <th>Failed</th>
          </tr>
          <% @report.parsed.resource_statuses.each do |name,status| %>
            <% if status.changed or status.failed %>
            <tr>
              <td><%= name %></td>
              <td><%= status.changed ? "Changed" : "" %></td>
              <td><%= status.skipped ? "Skipped" : "" %></td>
              <td><%= status.failed ? "Failed" : "" %></td>
            </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
