<!DOCTYPE html>
<html>
<head>
  <title>Puppet Dashboard</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="/">Puppet Dashboard</a>
  <ul class="nav navbar-nav">
    <li><%= link_to "Home", nodes_path %></li>
    <li><%= link_to "Nodes", nodes_path %></li>
    <li><%= link_to "Groups", node_groups_path %></li>
    <li><%= link_to "Classes", node_classes_path %></li>
    <li><%= link_to "Reports", reports_path %></li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-lg-9">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
