<!DOCTYPE html>
<html>
<head>
  <title>ENC Dashboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">ENC Dashboard</a>
  </div>
  <div class="nav-collapse collapse navbar-collapse">
    <ul class="nav navbar-nav text-center">
      <li><%= link_to "Home", nodes_path %></li>
      <li><%= link_to "Nodes", nodes_path %></li>
      <li><%= link_to "Groups", node_groups_path %></li>
      <li><%= link_to "Classes", node_classes_path %></li>
      <li><%= link_to "Reports", reports_path %></li>
    </ul>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-3">
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="col-lg-9">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
