<!DOCTYPE html>
<html>
<head>
  <title>Enc</title>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">ENC</a>
      <ul class="nav">
        <li><%= link_to "Nodes", nodes_path %></li>
        <li><%= link_to "Groups", node_groups_path %></li>
        <li><%= link_to "Classes", node_classes_path %></li>
        <li><%= link_to "Reports", reports_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
